body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  header {
    background-color: #007bff;
    color: white;
    padding: 20px;
  }
  .tabs {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #0056b3;
  }
  .tab {
    padding: 10px 20px;
    color: white;
    cursor: pointer;
  }
  .tab:hover {
    background-color: #003f7f;
  }
  .tab-content {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 100%;
  }
  table, th, td {
    border: 1px solid #ccc;
  }
  th, td {
    padding: 10px;
    text-align: center;
  }
  .logo {
    max-height: 80px;
    margin: 10px auto;
    display: block;
  }
  form {
    margin: 20px auto;
    max-width: 400px;
    text-align: left;
  }
  
  form label {
    display: block;
    margin-top: 10px;
  }
  
  form input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 2px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:nth-child(2) {
    background-color: #dc3545; /* Rojo para eliminar */
  }
  
  button:nth-child(2):hover {
    background-color: #a71d2a;
  }
   